services:
  db:
    image: postgres:15
    container_name: pr_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pr_db_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: ./cmd/app/Dockerfile
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file:
      - .env

volumes:
  pr_db_data:
  